* {
	user-select: none;	
}

html {
	height: 100%
}

body {
	height: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    height: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.body {
	flex: 1 0;
	padding: 15px;
}

.footer {
	flex: 0;
	padding: 15px;
	text-align: center;
}

.footer button:not(:first-child) {
    margin-left: 10px;
}

.select2-results {
	max-height: 84px;
    overflow: auto;
}

.stub {
    text-align: center;
    padding: 15px;
}